body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #17A2B8; /* Couleur assortie au thème des liens */
    margin-bottom: 30px;
}

.vehicule-info {
    background-color: #fff; /* Fond blanc */
    color: #333; /* Texte en gris foncé */
    border: 1px solid #ddd; /* Bordure légère */
    border-radius: 8px; /* Bords arrondis */
    padding: 15px; /* Espace interne */
    margin: 10px auto; /* Marge externe, centré horizontalement */
    width: 80%; /* Largeur relative */
    max-width: 600px; /* Largeur maximale */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
    text-align: left; /* Alignement du texte à gauche */
}

.vehicule-info strong {
    color: #17A2B8; /* Couleur pour les étiquettes */
    font-weight: bold;
}

.vehicule-info a {
    display: inline-block; /* Affichage en bloc pour permettre la marge */
    margin-top: 10px; /* Marge en haut pour le séparer du texte */
    background-color: #59A9FF; /* Fond bleu pour le lien */
    color: white; /* Texte blanc */
    padding: 6px 12px; /* Espace interne */
    border-radius: 4px; /* Bords arrondis */
    text-decoration: none; /* Pas de soulignement */
    transition: background-color 0.3s; /* Transition pour le survol */
}

.vehicule-info a:hover {
    background-color: #17A2B8; /* Changement de couleur au survol */
}





body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #17A2B8;
    margin-bottom: 30px;
}

form {
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    font-weight: bold;
    display: block; /* Rendre chaque label bloc pour alignement vertical */
    margin-bottom: 5px;
}

input[type="number"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.success-message {
    background-color: #d4edda; /* Vert clair pour le succès */
    color: #155724; /* Vert foncé pour le texte */
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto; /* Marge sur le haut, le bas et centré horizontalement */
    font-size: 1.2em;
    text-align: center;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}


body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #17A2B8;
    margin-bottom: 30px;
}

form {
    background-color: #f2f2f2;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="number"], input[type="date"], input[type="time"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 20px auto;
    font-size: 1.2em;
    text-align: center;
    max-width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.lien-styliseBack:link, .lien-styliseBack:visited {
padding: 4px 15px;
text-align: center;
text-decoration: none;
display: inline-block;
border-radius: 5px;
transition: background-color 0.3s;
}




.lien-styliseBack:link, .lien-styliseBack:visited {
background-color: #c82333;
color: white;
}


.lien-styliseBack:hover, .lien-styliseBack:active {
background-color: grey;
}


.fade-in {
    opacity: 0;
    transition: opacity 2s ease-in;
}
